body,
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  background-color: #5292ad;
}

.header {
  padding: 2rem;
  background-color: #ad5292;
  color: #97bece;
  font-size: 1.5rem;
}

.result {
  width: min(500px, 90%);
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #5264ad;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.5rem;
  color: white;
  border-radius: 0.5rem;
  font-weight: 400;
  box-shadow: 0.3rem 0.3rem 0.3rem #141414;
}

.gameContainer {
  display: flex;
  justify-content: space-around;
  margin: 50px;
}
.board {
  padding: 0;
  width: 20rem;
  height: 20rem;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.cell {
  margin: 0 -1px -1px 0;
  border: 0.1rem solid;
}

.player > div {
  pointer-events: none;
}
.player {
  /* display: none; */
  cursor: not-allowed;
}

.active {
  background-color: #5264ad;
}
.hit {
  background-color: #e51a1e;
}
.miss {
  background-color: #1ae5e1;
}
